# Core functionality - changes here should be rare!
/src/app.py                   @iamsofyann
/src/backend/database.py      @iamsofyann
/src/backend/routers/auth.py  @iamsofyann

# The frontend will need refactored soon to be more object oriented.
/src/static/   @iamsofyann
